<div class="row">
    <div class="col">
        <table mat-table [dataSource]="bookings" class="mat-elevation-z8 w-100 mb-3">
        
            <!-- Position Column -->
            <ng-container matColumnDef="propertyName">
                <th mat-header-cell *matHeaderCellDef>Property Name</th>
                <td mat-cell *matCellDef="let element"> {{element.propertyName || '-'}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="propertyAddress">
                <th mat-header-cell *matHeaderCellDef> Property Address </th>
                <td mat-cell *matCellDef="let element"> {{element.propertyAddress || '-'}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="propertyType">
                <th mat-header-cell *matHeaderCellDef> Property Type </th>
                <td mat-cell *matCellDef="let element"> {{element.propertyType || '-'}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="bookedByName">
                <th mat-header-cell *matHeaderCellDef> Booked By  </th>
                <td mat-cell *matCellDef="let element"> {{element.bookedByName || '-'}} </td>
            </ng-container>

            <ng-container matColumnDef="bookedByEmail">
                <th mat-header-cell *matHeaderCellDef> Email</th>
                <td mat-cell *matCellDef="let element"> {{element.bookedByEmail || '-'}} </td>
            </ng-container>
            <ng-container matColumnDef="checkInDate">
                <th mat-header-cell *matHeaderCellDef> Check In </th>
                <td mat-cell *matCellDef="let element"> {{(element.checkInDate | date) || '-'}} </td>
            </ng-container>
            <ng-container matColumnDef="checkOutDate">
                <th mat-header-cell *matHeaderCellDef> Check Out </th>
                <td mat-cell *matCellDef="let element"> {{(element.checkOutDate | date )|| '-'}} </td>
            </ng-container>
            <ng-container matColumnDef="totalAmount">
                <th mat-header-cell *matHeaderCellDef> Total</th>
                <td mat-cell *matCellDef="let element"> {{(element.totalAmount | currency:"INR":"symbol") || '-'}} </td>
            </ng-container>
            <ng-container matColumnDef="cnfBtn">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                    <button [disabled]="element?.isConfirmed || !isAdmin" (click)="confirmBooking(element.bookingId)" mat-stroked-button color="primary">{{ element?.isConfirmed ?  'Confirmed' : isAdmin  ? 'Confirm': 'Waiting'}}</button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
