<div class="d-flex mb-4 flex-row align-items-center justify-content-between mt-3">
    <button (click)="onNoClick()" mat-stroked-button color="primary">Close</button>
</div>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Property Name</mat-label>
        <input matInput placeholder="Enter Product Name" [(ngModel)]="propertyName" required name="name" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label> Address </mat-label>
        <input matInput ngModel placeholder=" Address" [(ngModel)]="propertyAddress" required name="address" type="text">
    </mat-form-field>

    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Price </mat-label>
                <input matInput ngModel placeholder="price" [(ngModel)]="propertyPrice" required name="price" type="number">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Type</mat-label>
                <mat-select matNativeControl name="type" [(ngModel)]="propertyType">
                    <mat-option value="FLAT">
                        Flat
                    </mat-option>
                    <mat-option value="APARTMENT">
                        APARTMENT
                    </mat-option>
                    <mat-option value="VILLAS">
                        Villas
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>

    <div class="d-flex flex-row align-items-center justify-content-between mt-3">
        <button (click)="updateProperty()" mat-stroked-button color="primary">Add Product</button>
    </div>
