<div class="row">
    <div class="col-md-8">
        <form #product="ngForm" (ngSubmit)="formSubmit(product)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Property Name</mat-label>
                <input matInput placeholder="Enter Product Name" ngModel required name="name" type="text">
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="w-100">
                <mat-label> Address  </mat-label>
                <input matInput ngModel placeholder=" Address" required name="address" type="text">
            </mat-form-field>
        
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Price </mat-label>
                        <input matInput ngModel placeholder="price" required name="price" type="number">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Type</mat-label>
                    <mat-select matNativeControl  name="type"[(ngModel)]="type" >
                          <mat-option  value="FLAT">
                            Flat
                          </mat-option>
                          <mat-option  value="APARTMENT">
                            APARTMENT
                        </mat-option>                        
                          <mat-option  value="VILLAS">
                            Villas
                        </mat-option>                   
                   </mat-select>
                        </mat-form-field>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>Features</mat-label>
                        <mat-select matNativeControl required  multiple name="features"[(ngModel)]="features">
                          <mat-option  value="POOL">POOL</mat-option>
                          <mat-option  value="POOL_FACING">POOL FACING</mat-option>
                          <mat-option  value="BEACH">BEACH</mat-option>
                          <mat-option  value="BEACH_FACING">BEACH FACING</mat-option>
                          <mat-option  value="GARDEN_FACING">GARDEN FACING</mat-option>
                          <mat-option  value="AC_ROOMS">AC ROOMS</mat-option>

                        </mat-select>
                      </mat-form-field> 
               </div>
                
            </div>
            
            <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                <button (click)="addProduct()" mat-stroked-button color="primary">Add Product</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="image__preview__container">
            <img class="image__preview"  [src]="fileName"/>
            
        </div>
        <div class="mt-2">
            <input #fileInput  hidden  (change)="onFileChange($event)" type="file" accept="image/png, image/jpeg" />
            <button (click)="fileInput.click()" mat-stroked-button color="primary">Upload Image</button>
            <!-- <button (click)="uploadImage()"  mat-stroked-button color="primary">Upload Image</button> -->
        </div>
    </div>
</div>