<div class="full__height">
    <div class="d-flex flex-row align-items-center justiy-content-center"
        style="height:100%;width:100%">
        <div class="card col-md-4 offset-md-4 col-sm-8 offset-sm-2">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center justiy-content-center mb-3">
                    <h4 class="card-title custom_heading">Rent A Place</h4>
                    <p class="card-text custom_heading">Log In</p>
                </div>
                <form  #login="ngForm" (ngSubmit)="formSubmit(login)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter Email" ngModel required name="email" type="email">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Password</mat-label>
                        <input matInput ngModel placeholder="Password" required name="password" type="password">
                        <mat-icon matSuffix>password</mat-icon>
                    </mat-form-field>

                    <mat-radio-group aria-label="Role" name="role" ngModel class="w-100">
                        <div class="row">
                            <div class="col">
                                <mat-radio-button value="ADMIN">Admin</mat-radio-button>
                            </div>
                            <div class="col">
                                <mat-radio-button value="CUSTOMER">Customer</mat-radio-button>
                            </div>
                        </div>
                    </mat-radio-group>

                    <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                        <button (click)="signup()" mat-stroked-button color="primary">Create New Account</button>
                        <button type="submit" mat-flat-button color="primary">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>