<p>Your Reply</p>
<form #messageReply="ngForm" (ngSubmit)="formSubmit(messageReply)">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Number of persons</mat-label>
        <input matInput  placeholder="Your reply" ngModel required name="numberOfPersons" type="number">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Check In</mat-label>
        <input matInput placeholder="Your reply" ngModel required name="checkInDate" type="date">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Check Out</mat-label>
        <input matInput placeholder="Your reply" ngModel required name="checkOutDate" type="date">
    </mat-form-field>
    <div class="d-flex flex-row align-items-center justify-content-between mt-3">
        <button type="submit" mat-stroked-button color="primary">Make Booking</button>
    </div>

</form>
<div class="d-flex flex-row align-items-center justify-content-between mt-3">
    <button (click)="onNoClick()" mat-stroked-button color="primary">Close</button>
</div>